version: 2
jobs:
  build:
    docker:
      - image: checkstyle/sonarqube-maven-git:7.7-community-8c1737e

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-sonarqube-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-sonarqube

      - run: mvn package -Pno-validations

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-sonarqube-{{ checksum "pom.xml" }}

      # run tests
      - run: |-
          pwd
          POM_VERSION=$(grep "<version>" pom.xml | head -n 1 | sed -E "s/.*<version>//" | sed "s/<.*//")
          echo "POM_VERSION="$POM_VERSION
          echo "creation of jar is skipped as it was created on previous step"
          #mvn package -Pno-validations
          echo "coping jar to sonarqube ..."
          cp checkstyle-sonar-plugin/target/checkstyle-sonar-plugin-$POM_VERSION.jar /opt/sonarqube/extensions/plugins/
          cd /opt/sonarqube/
          echo "remove existing logs ..."
          rm -f logs/*.*
          echo "run sonarqube web service"
          ./bin/run.sh &
          echo "sleeping 60 to let sonar start up ..."
          sleep 60
          echo "check that sonar service is up ..."
          grep "SonarQube is up" logs/sonar.log
          echo "switching back to repository code"
          cd -
          pwd
          echo "execution of mvn sonar:sonar ..."
          mvn sonar:sonar
          echo "grep for ERROR in logs ..."
          grep "ERROR" /opt/sonarqube/logs/* || test $? = 1
